.wrapper {
    margin: $refMargin;
}

.imageWrap {
    margin: 3rem 0;
    position: relative;

    & img {
        max-width: 100%;
    }

    &::after {
        content: "";
        width: 80%;
        background: $softBlue;
        border-radius: 0 0 0 35%;
        position: absolute;
        right: 0;
        height: 85%;
        top: 20%;
        z-index: -1;
    }
}

.imageWrapReverse {
    margin: 3rem 0;
    position: relative;

    & img {
        max-width: 100%;
    }

    &::after {
        content: "";
        width: 80%;
        background: $softBlue;
        border-radius: 0 0 35% 0;
        position: absolute;
        left: 0;
        height: 85%;
        top: 20%;
        z-index: -1;
    }
}

.infoText {
    margin: 2.6875rem 2.6875rem;
    text-align: center;
}

.buttonWrap {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.button {
    font: inherit;
    font-size: 0.9rem;
    border: 0;
    border-radius: 5px; 
    font-weight: 500;
    padding: 0.9rem 1rem;
    box-shadow: 0px 3px 4px 1px #dad9d9;
}

.blueButton {
    background-color: $softBlue;
    color: white;  
}

.redButton {
    background-color: $softRed;
    color: white;  
}

.largeButton {
    padding: 0.9rem 1.4rem;
}

.fullButton {
    padding: 0.9rem 1.4rem;
    width: 100%;
    box-shadow: none;
}

.lightButton {   
    background-color: #F2F2F2;       
}

.defaultSpace {
    height: 10rem;
}

.halfSpace {
    height: 5rem;
}


.features {
    & li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 1px #dad9d9;
        padding: 1rem 1rem;
        position: relative;

        &:last-child {
            border-bottom: solid 1px #dad9d9;
        }

        &:first-child::after {
            position: absolute;
            height: 4px;          
            border-radius: 1px;
            width: 140px;
            background-color: $softRed;
            bottom: 0px;
            content: "";
            box-shadow: 0px 3px 4px 1px #dad9d9;
        }
    }
}

.browserCard {
    border-radius: 10px;
    box-shadow: 0px 3px 4px 1px #dad9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__item {
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        &:last-child {
            background-image: url(../images/bg-dots.svg);
            background-repeat: repeat no-repeat;
            background-position-y: 0;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;

        & img {
            margin-bottom: 2rem;
        }
    }
}

.simpleCenter {
    display: flex;
    justify-content: center;
}

.firstFooter {
    padding: 2.7rem 0;
    background-color: $softBlue;
    color: white;

    & span {
        display: flex;
        justify-content: center;
        &:first-child {
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: 0.22rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
    }

    & h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    & input {
        font: inherit;
        font-size: 0.9rem;
        border: 0;
        border-radius: 5px; 
        font-weight: 500;
        padding: 0.9rem 1rem;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 1rem;

        &::placeholder {
            color: #dad9d9;
            
        }
    }
}

.secondFooter {  
    padding: 2.7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $veryDarkBlue;

    
    & div {
        & span {
            text-transform: uppercase;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
            color: white;
        }

        &:not(:last-child) {
            margin-bottom: 1.9rem;
        }
    }
}

.social {
    display: flex;
    justify-content: center;
    & img:first-child {
        margin-right: 2.3rem;
    }
}

