body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    color: $veryDarkBlue;
}

ol, ul, li {
    list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

p {
    line-height: 1.5;
    color: $grayishBlue;
}



.wrapper {
    margin: $refMargin;
}

.imageWrap {
    margin: 3rem 0;
    position: relative;

    & img {
        max-width: 100%;
    }

    &::after {
        content: "";
        width: 80%;
        background: $softBlue;
        border-radius: 0 0 0 35%;
        position: absolute;
        right: 0;
        height: 85%;
        top: 20%;
        z-index: -1;
    }
}

.imageWrapReverse {
    margin: 3rem 0;
    position: relative;

    & img {
        max-width: 100%;
    }

    &::after {
        content: "";
        width: 80%;
        background: $softBlue;
        border-radius: 0 0 35% 0;
        position: absolute;
        left: 0;
        height: 85%;
        top: 20%;
        z-index: -1;
    }
}

.infoText {
    margin: 2.6875rem 2.6875rem;
    text-align: center;
}

.buttonWrap {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.button {
    font: inherit;
    font-size: 0.9rem;
    border: 0;
    border-radius: 5px; 
    font-weight: 500;
    padding: 0.9rem 1rem;
    box-shadow: 0px 3px 4px 1px #dad9d9;
}

.mediumBlueButton {
    background-color: $softBlue;
    color: white;  
}


.mediumLightButton {   
    background-color: #F2F2F2;       
}

.defaultSpace {
    height: 10rem;
}

.halfSpace {
    height: 5rem;
}


.features {
    & li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 1px #dad9d9;
        padding: 1rem 1rem;
        position: relative;

        &:last-child {
            border-bottom: solid 1px #dad9d9;
        }

        &:first-child::after {
            position: absolute;
            height: 4px;          
            border-radius: 1px;
            width: 140px;
            background-color: $softRed;
            bottom: 0px;
            content: "";
            box-shadow: 0px 3px 4px 1px #dad9d9;
        }
    }
}